<p-sidebar class="container mt-3" [(visible)]="showSidebar" [position]="'left'">
    <ng-template pTemplate="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusamus delectus dolorum, amet, doloremque a veniam vitae consectetur distinctio sed officia velit maiores illum odit repellendus consequatur! Quisquam, sunt consectetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusamus delectus dolorum, amet, doloremque a veniam vitae consectetur distinctio sed officia velit maiores illum odit repellendus consequatur! Quisquam, sunt consectetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusamus delectus dolorum, amet, doloremque a veniam vitae consectetur distinctio sed officia velit maiores illum odit repellendus consequatur! Quisquam, sunt consectetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusamus delectus dolorum, amet, doloremque a veniam vitae consectetur distinctio sed officia velit maiores illum odit repellendus consequatur! Quisquam, sunt consectetur.</p>
    </ng-template>

</p-sidebar>
<p-button id="btn1" styleClass="p-button-rounded p-button-danger" class="justify-content-end" (click)="toggleSidebar()">MENU</p-button>